@import "tailwindcss" prefix(tw);

@theme {
  --color-teal-primary: #0C2B35;
  --color-teal-secondary: #153641;
  --color-cream-primary: #FCF6E5;
  --color-accent: #697B82;
  --color-accent-light: #CEDCDC;
  --color-link: #3680FF;
}

.ApplicationForm > .row > :not(.form-text) {
  margin-top: 1rem;
}

.ApplicationForm .alert {
  margin-bottom: 0;
}

/* For the bulk accept/reject checkboxes in the applicants table */
.form-check-input {
  width: 1.5em;
  height: 1.5em;
}

.alerts {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;

  top: 60px;
  right: 20px;
  z-index: 100000;

  max-width: 500px;
  max-height: 50%;
}

.alert {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}
